body{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9X2HIr3/animated-school-chalkboard-background_4yluj3yd__F0002.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    
     font-family: 'Raleway', sans-serif;
     text-align: center;
     height:100vh;
}

    h1{
        font-family: 'Libre Baskerville',"raleway";
        color:rgba(236, 107, 129, 0.746);
        background-color: aliceblue;
        padding:5px; 
    }

#button{background-color: pink;
        width: 60px;
        height: 30px;
        
    }
#eingabe{
    padding-left: 5px;
    background-color: pink;
        width: 250px;
        height: 30px;
        border: 5px;
    } 
.rot{
    color: red;
}
.gruen{
    color: rgb(26, 120, 26);
}
#continue{
    margin: 10px;
    background-color: pink;
    width: 70px;
    height: 30px;
    
 }
 div {color:rgb(171, 59, 143);
    
    

 }
#counter{
    margin-top:80px;
     font-size: 22px;
     font-weight: bold;
    
}
#Deutsch{
    font-size: 22px;
    font-weight: bold;
    color:rgb(171, 59, 143);
}
#punktzahl{
    font-size: 40px;
    font-weight: bold;
    margin:10px;
}
#reload{
    margin: 10px;
    background-color: pink;
    width: 70px;
    height: 30px;
    
}
